@import "tailwindcss";

:root {
  --background: #0e0e0f;
  --section: #1a1a1c;
  --primary: #eeeeee;
  --secondary: #a0a0a0;
  --accent: #2f5c4d;
  --accent-hover: #3e7963;
  --border: #2a2a2c;

  background-color: var(--background);
  color: var(--primary);
  font-family: var(--font-inter);
}

/* default theme */
@theme {
  --color-background: var(--background);
  --color-section: var(--section);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-border: var(--border);
}

/* Add light theme */
:root[data-theme="light"] {
  --background: #faf9f6;
  --section: #ffffff;
  --primary: #1c1c1c;
  --secondary: #666666;
  --accent: #3c6e57;
  --accent-hover: #4f8d72;
  --border: #dddddd;


  --color-background: var(--background);
  --color-section: var(--section);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-accent-hover: var(--accent-hover);
  --color-border: var(--border);

  background-color: var(--background);
  color: var(--primary);
  font-family: var(--font-inter);
}


@layer base {
  section {
    @apply w-full max-w-4xl mx-auto p-8;
  }
}

@layer components {
  .card {
    @apply bg-section rounded-2xl border border-border p-6 hover:border-accent transition-colors duration-200 shadow-md shadow-accent/80;
  }

  .btn-primary {
    @apply transition-all duration-200;
    background-color: var(--accent);
    color: white;
    border: 2px solid var(--accent);
  }

  .btn-primary:hover {
    background-color: var(--accent-hover);
    border-color: var(--accent-hover);
  }

  .btn-secondary {
    @apply transition-all duration-200;
    background-color: transparent;
    color: var(--primary);
    border: 2px solid var(--border);
  }


  .btn-secondary:hover {
    background-color: var(--section);
    border-color: var(--accent-hover);
    color: var(--accent-hover);
  }
}